<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>One To One Request</title>
    <link th:replace="fragments/supervisorHeader :: bootstrap-css">
</head>
<body>
<div th:replace="fragments/supervisorHeader :: supervisorHeader"></div>


<div class="container align-items-center text-center py-4 px-5" id="employeeData">
    <div class="row">
        <div class="col">
            <h4 th:text="${EmployeeName}"></h4>
        </div>
    </div>
    <div class="row">
        <h4>This Week's Check In History</h4>
    </div>
    <div class="row">
        <div class="col">
            <h5>Date</h5>
        </div>
        <div class="col">
            <h5>Check-In Score</h5>
        </div>
    </div>
    <div class="row" th:each="checkin : ${checkins}">
        <div class="col">
            <h5 th:text="${checkin.date}"></h5>
        </div>
        <div class="col">
            <h5 th:text="${checkin.score}"></h5>
        </div>
    </div>


</div>



<script th:replace="fragments/footer :: bootstrap-js"></script>

</body>
</html>