<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Supervisor One To One</title>
    <link th:replace="fragments/supervisorHeader :: bootstrap-css">
</head>
<body>

<div th:replace="fragments/supervisorHeader :: supervisorHeader"></div>

<div class="contianer align-items-center text-center py-4">
    <h2>Scheduled One to One meetings</h2>
    <div>
        <table class="summary-table">
            <thead>
            <tr>
                <th class="table-header">Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="onetoone : ${onetoones}">
                <td>
                    <a href=""></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--    <ul class="list-inline justify-content-center">-->
<!--        <li>placeholder</li>-->
<!--        <li>placeholder</li>-->
<!--        <li>placeholder</li>-->
<!--    </ul>-->
</div>

<div class="contianer align-items-center text-center py-4">
    <h2>Previous One to One meetings</h2>
    <ul class="list-inline justify-content-center">
        <li>placeholder</li>
        <li>placeholder</li>
        <li>placeholder</li>
    </ul>
</div>

<script th:replace="fragments/footer :: bootstrap-js"></script>


</body>
</html>