<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Supervisor Home Page</title>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-base.min.js"></script>
    <link th:replace="fragments/supervisorHeader :: bootstrap-css">


</head>
<body>

<div th:replace="fragments/supervisorHeader :: supervisorHeader"></div>

<div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Employee Name</th>
            <th scope="col">Employee Average</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each ="averages: ${Employees}">
            <td th:text="${averages.employeeName}"></td>
            <td th:text = "${averages.average}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="contianer align-items-center text-center py-4">
    <div class="contianer align-items-center text-center py-4">
        <div class="row">
            <h2>Scheduled One To One meetings</h2>
        </div>
    </div>
    <a href="/supervisor/onetoone" class="btn btn-primary">View</a>
</div>

<script th:replace="fragments/footer :: bootstrap-js"></script>
</body>
</html>
