<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Supervisor Home Page</title>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-base.min.js"></script>
    <link th:replace="fragments/supervisorHeader :: bootstrap-css">


</head>
<body>

<div th:replace="fragments/supervisorHeader :: supervisorHeader"></div>

<div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Employee Name</th>
            <th scope="col">Employee Average</th>
        </tr>
        </thead>
        <tbody>
<!--        <tr>-->
<!--        <tr th:each ="employee: ${EmployeeName}">-->
<!--            <td th:text="${employee.name}"></td>-->
<!--            <td th:text="${.score}"></td>-->
<!--&lt;!&ndash;            <td th:text = "${EmployeeName}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text = "${Checkins}"></td>&ndash;&gt;-->

            <div class="row" th:each="employee : ${SingleEmployee}">
                <div class="col">
                    <h5 th:text="${employee.name}"></h5>
                </div>
<!--        </tr>-->
        <tr>
            <th scope="row">{user.name}</th>
            <td>Checkin Placeholder</td>
        </tr>
        <tr>
            <th scope="row">{user.name}</th>
            <td>Checkin Placeholder</td>
        </tr>
        </tbody>
    </table>
</div>

<!--<div class="container my-4">-->
<!--    <h2 class="font-weight-bold">-->
<!--       Historical Data-->
<!--    </h2>-->
<!--    <div id = "container">-->
<!--        <script>-->
<!--            anychart.onDocumentReady(function () {-->

<!--                var data = [-->

<!--                ];-->

<!--                var dataSet = anychart.data.set(data);-->

<!--                var averageData = dataSet.mapAs({x: 0, value: 1});-->

<!--                var chart = anychart.line();-->

<!--                var average = chart.line(averageData);-->
<!--                average.name("Team");-->

<!--                chart.legend().enabled(true);-->

<!--                chart.title("Supervisor's Team Average");-->

<!--                chart.container("container");-->

<!--                chart.draw();-->

<!--            });-->
<!--        </script>-->
<!--    </div>-->
<!--</div>-->

<div class="contianer align-items-center text-center py-4">
    <div class="contianer align-items-center text-center py-4">
        <div class="row">
            <h2>Scheduled One To One meetings</h2>
        </div>
    </div>
    <a href="/supervisor/onetone" class="btn btn-primary">View</a>
</div>

<script th:replace="fragments/footer :: bootstrap-js"></script>
</body>
</html>
