<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Employee Check-In</title>
    <link th:replace="fragments/employeeHeader :: bootstrap-css">
</head>
<body>
<div th:replace="fragments/employeeHeader :: employeeHeader"></div>

<div class="container align-items-center text-center py-4">
    <div class="row">
        <h2 th:text="'How are you today '+${employeeName}+'?'"></h2>
    </div>
    <div class="row justify-content-center p-4">
      <span class=" display-5" id="emoji">&#128551</span>
    </div>

    <form th:action="@{/employee/checkin}" th:method="post" th:object="${checkinForm}">

        <div class="row">
            <div class="input-group justify-content-center p-2">
                <label for="score"></label>
                <input class="inputRange" type="range" min="1" max="10" value="5" th:field="*{score}">

                <div class="alert alert-warning" th:errors="*{score}"
                     th:if="${#fields.hasErrors('score')}">Score Error
                </div>

            </div>
        </div>
        <div class="row">
            <h4 th:text="'Would you like to request a one to one meeting with '+${supervisor}+'?'"></h4>
        </div>
        <div class="row p-1">
            <div class="form-check form-switch justify-content-center">
                <input class="form-check-input" type="checkbox" id="meetingRequest" th:field="*{wantsMeeting}" style="float: none;">
                <label class="form-check-label" for="meetingRequest" >Request a meeting</label>
            </div>
        </div>
        <div class="row p-4">
            <div class="btn-group d-inline" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-danger">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>



<script src="/js/emoji.js"></script>

<script th:replace="fragments/footer :: bootstrap-js"></script>

</body>
</html>