<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>One To One Request</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link th:replace="fragments/employeeHeader :: bootstrap-css">
</head>
<body>

<div th:replace="fragments/employeeHeader :: employeeHeader"></div>


<div class="container align-items-center text-center py-4 px-5" id="currentGoalsTable">
    <div class="row">
        <div class="col">
            <h4 class="container align-items-center text-center py-4 px-5">Current Goals</h4>
        </div>
        <div class="col">

            <button class="btn btn-primary float-end mx-6">
                Add Goal
            </button>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Target Date</th>
                <th scope="col"></th>
            </tr>
            <tr th:each = "goal : ${employeeGoals}">
                <th class="fw-normal" th:text="${goal.title}"></th>
                <th class="fw-normal" th:text="${goal.description}"></th>
                <th class="fw-normal" th:text="${goal.targetDate}"></th>
            </tr>
        </table>
    </div>
    <form th:action="@{goals}" th:method="post" th:object="${goalForm}">

        <div class="row">
            <div class="input">
                <label class="p-3" for="title">Input the title for your goal:</label>
                <input class="input-group justify-content-center p-2" id="title" type="text" th:field="*{title}">
            </div>
            <div class="input">
                <label class="p-3" for="description">Input the description for your goal:</label>
                <input class="input-group justify-content-center p-2" id="description" type="text" th:field="*{description}">
            </div>
            <div class="input">
                <label class="p-3" for="targetDate">Input the targetDate for your goal:</label>
                <input class="input-group justify-content-center p-2" id="targetDate" type="date" th:field="*{targetDate}">
            </div>
<!--            <div class="input">-->
<!--                <label class="p-3" for="title">Input the completedDate for your goal:</label>-->
<!--                <input class="input-group justify-content-center p-2" type="date" th:field="*{completedDate}">-->
<!--            </div>-->
        </div>
        <div class="row p-4">
            <div class="btn-group d-inline" role="group" aria-label="Basic mixed styles example">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>

<script th:replace="fragments/footer :: bootstrap-js"></script>

</body>
</html>