<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>One To One Request</title>
  <link th:replace="fragments/employeeHeader :: bootstrap-css">
</head>
<body>

<div th:replace="fragments/employeeHeader :: employeeHeader"></div>


<div class="contianer align-items-center text-center py-4">
  <div class="row">
    <h2>Request a One to One Meeting</h2>
  </div>
  <div class="row px-5">
    <form th:action="@{/employee/onetoone}" th:method="post" th:object="${OneToOneForm}">
      <div class="mb-3">
        <label for="datetime" class="form-label">Requested Time for Meeting</label>
        <input type="date" class="form-control" id="datetime" th:field="*{date}" >
      </div>
      <div class="mb-3">
        <label for="notes" class="form-label">Meeting Notes</label>
        <input type="text" class="form-control" id="notes" th:field="*{notes}">
      </div>

      <div class="mb-3">
        <button class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>

<script th:replace="fragments/footer :: bootstrap-js"></script>

</body>
</html>