<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

    <link rel="stylesheet" type="text/css" media="all" href="../../css/Stylesheet" th:href="@{/css/Stylesheet.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
<!--    <script src="homepageGraph.js"></script>-->
    <title>Employee Homepage</title>
</head>
<body>

<div class="header">
    header
</div>

<div class="title-homepage">
    Homepage
</div>

<div class="container-homepage">
    <div class="container-homepage-buttons">
        <button class="button-homepage-checkin">Check-in</button>

        <button class="button-homepage-1to1">1-to-1</button>
    </div>


    <div class="container-checkintracker">
        <img class="filler-image" src="https://www.researchgate.net/publication/336183372/figure/fig4/AS:869803812196353@1584388797209/Tests-by-authors-using-remote-means-a-graph-of-happiness-over-the-days-of-the-week.png" alt="filler line graph">
<!--        filler for when we have a graph of their happiness over the course of the week-->
    </div>

</div>

<div class="footer">
    footer
</div>

</body>
</html>