<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="../../css/Stylesheet" th:href="@{/css/Stylesheet.css}">
    <title>Login</title>
</head>
<body>

<h1>Wellbeing Portal</h1>

<!--Container for Login-->
<div class="container">
    <div class="title-container">
        <b>Login</b>
    </div>

    <div class="login-form-container">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label for="password"><b>Password</b></label>
        <input type="text" placeholder="Enter Password" name="password" required>

        <button type="submit">Login</button>
    </div>
</div>

</body>
</html>