<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/Stylesheet.css">
    <title>Login</title>
</head>
<body>

<h1>Wellbeing Portal</h1>

<div class="container">
    <div class="title-container">
        Login
    </div>

    <div class="login-form-container">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label for="password"><b>Password</b></label>
        <input type="text" placeholder="Enter Password" name="password" required>

        <button type="submit">Login</button>
    </div>
</div>

</body>
</html>